{% extends "_base.html" %}
{% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
{% from 'bootstrap4/table.html' import render_table %}
{% from 'bootstrap4/form.html' import render_form_row %}
{% from 'bootstrap4/form.html' import render_field %}

{% block nav%}
{{ render_breadcrumb_item('project.index',"Projects") }}
{{ render_breadcrumb_item('project.project',project.name, id=project.id) }}
{{ render_breadcrumb_item('module.index', "Modules", project_id=project.id) }}
{{ render_breadcrumb_item('module.module', module.name, id=module.id) }}
{{ render_breadcrumb_item('moduleimport.index', "Imports", module_id=module.id) }}
{{ render_breadcrumb_item('moduleimport.moduleimport', "Imports", id=module_import.id) }}
{% if current_user.is_anonymous %}
<li class="" style="margin-left: auto; margin-right:0;"><a href="{{ url_for('main.registro') }}">Login</a></a>
{% else %}
<li class="" style="margin-left: auto; margin-right:0;"><a href="{{ url_for('main.logout') }}">Logout</a></a>
{% endif %}
{% endblock %}
{% block content %}
<div>
    <form method="post">
        {% if 'csrf_token' in form %}
        {{ form.csrf_token() }}
        {% endif %}
        {{ render_field(form.name) }}
        {{ render_field(form.function) }}
        {{ render_form_row([form.submit]) }}
    </form>
</div>
{% endblock %}