{% extends "_base.html" %}
{% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
{% from 'bootstrap4/table.html' import render_table %}
{% from 'bootstrap4/form.html' import render_form_row %}
{% from 'bootstrap4/form.html' import render_field %}

{% block nav%}
{{ render_breadcrumb_item('project.index',"Projects") }}
{{ render_breadcrumb_item('project.project',project.name, id=project.id) }}
{{ render_breadcrumb_item('module.index', "Modules", project_id=project.id) }}
{{ render_breadcrumb_item('module.module', module.name, id=module.id) }}
{{ render_breadcrumb_item('state.index', "States", module_id=module.id) }}
{{ render_breadcrumb_item('state.state', state.name, id=state.id) }}
{% if current_user.is_anonymous %}
<li class="" style="margin-left: auto; margin-right:0;"><a href="{{ url_for('main.registro') }}">Logout</a></a>
{% else %}
<li class="" style="margin-left: auto; margin-right:0;"><a href="{{ url_for('main.logout') }}">Logout</a></a>
{% endif %}
{% endblock %}
{% block content %}

<div>
    <form method="post">
        {% if 'csrf_token' in form %}
        {{ form.csrf_token() }}
        {% endif %}

        {{ render_field(form.name, class="form-group") }}
        {{ render_field(form.access_control) }}
        {{ render_field(form.type) }}
        {{ render_field(form.description) }}
        {{ render_field(form.is_mutable) }}
        <br/>
        <h5>Extras</h5>
        <a class="" href="{{ url_for('state.add_key_value', id=state.id) }}"><i class="fa-sharp fa-regular fa-plus p-2"></i></a>
        <hr/>
        {% for extra in form.extras %} 
        <div class="row">
            <div class="col">
                <label>Key: {{loop.index}}</label>
            </div>
            <div class="col">
                {{ extra.name_field() }}
            </div>
            <div class="col">
                <label>Value: {{loop.index}}</label>
            </div>
            <div class="col">
                {{ extra.value_field() }}
            </div>
            <div class="col">
                <a href="{{ url_for('state.delete_key_value', id=state.id, key=extra.name_field.data) }}"><i class="fa-sharp fa-solid fa-trash p-2"></i></a>
            </div>
        </div>
        <br/>
        {% endfor %}

        {{ render_form_row([form.submit]) }}
    </form>
</div>
{% endblock %}

