{% extends "_base.html" %}
{% from 'bootstrap4/form.html' import render_form_row %}
{% from 'bootstrap4/form.html' import render_field %}
{% from 'bootstrap4/table.html' import render_table %}
{% from 'bootstrap4/nav.html' import render_breadcrumb_item %}

{% block nav%}
{{ render_breadcrumb_item('main.dashboard', 'Projects') }}
{{ render_breadcrumb_item('project.project', project_name, project_id=project_id) }}
{% endblock %}

{% block content %}
<h1>{{ name }}</h1>
<div class="d-grid gap-5">    
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('project.project', project_id=project.id) }}">
                Modules
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('library.index', project_id=project.id) }}">
                Libraries
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('project.project', project_id=project.id) }}">
                Info
            </a>
        </li>
    </ul>
</div>
<div>
    {{ render_table(data, titles, show_actions=True, model=model, table_classes="table table-striped",
        new_url=url_for('library.add', project_id=project.id),
        view_url=('library.index', [('project_id', ":project_id"), ('module_id', ':id')]),
        delete_url=('library.delete', [('project_id', ":project_id"), ('library_id', ':id')])
        ) }}
   
</div>
{% endblock %}