{% extends "_base.html" %}
{% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
{% from 'bootstrap4/table.html' import render_table %}
{% from 'bootstrap4/form.html' import render_form_row %}
{% from 'bootstrap4/form.html' import render_field %}

{% block nav%}
{{ render_breadcrumb_item('project.index',"Projects") }}
{{ render_breadcrumb_item('project.project',project.name, id=project.id) }}
{{ render_breadcrumb_item('module.index', "Modules", project_id=project.id) }}
{{ render_breadcrumb_item('module.module', module.name, id=module.id) }}
{{ render_breadcrumb_item('submodule.index', "Submodules", module_id=module.id) }}
{{ render_breadcrumb_item('submodule.submodule', submodule.name, id=submodule.id) }}

{% if current_user.is_anonymous %}
<li class="" style="margin-left: auto; margin-right:0;"><a href="{{ url_for('main.registro') }}">Logout</a></a>
{% else %}
<li class="" style="margin-left: auto; margin-right:0;"><a href="{{ url_for('main.logout') }}">Logout</a></a>
{% endif %}
{% endblock %}
{% block content %}

<div>
  <form id="parameter_form" method="post">
    {% if 'csrf_token' in form %}
    {{ form.csrf_token() }}
    {% endif %}
    {{ render_field(form.name) }}
    {{ render_field(form.reference) }}
    <br/>
    <h5>Extras</h5>
    <a class="" href="{{ url_for('submodule.add_key_value', id=submodule.id) }}"><i class="fa-sharp fa-regular fa-plus p-2"></i></a>
    <hr/>
    {% for extra in form.extras %} 
    <div class="row">
        <div class="col">
            <label>Key: {{loop.index}}</label>
        </div>
        <div class="col">
            {{ extra.name_field() }}
        </div>
        <div class="col">
            <label>Value: {{loop.index}}</label>
        </div>
        <div class="col">
            {{ extra.value_field() }}
        </div>
        <div class="col">
            <a href="{{ url_for('submodule.delete_key_value', id=submodule.id, key=extra.name_field.data) }}"><i class="fa-sharp fa-solid fa-trash p-2"></i></a>
        </div>
    </div>
    <br/>
    {% endfor %}

    {{ render_form_row([form.submit]) }}
</form>
</div>
{% block js%}
{{ super() }}
<script>
  var hasChanges = false
  window.addEventListener("beforeunload", (event) => {
    if (!hasChanges) return;
    event.preventDefault();
    event.returnValue = "";
  })
  var form = document.forms["parameter_form"];
  var name_input = form.elements["name"];
  var type_input = form.elements["type"];
  var optional_input = form.elements["is_optional"];
  var array_input = form.elements["is_array"];
  var generic_of_input = form.elements["generic_of"];

  // let elementsArray = document.querySelectorAll("whatever");

  // elementsArray.forEach(function(elem) {
  //     elem.addEventListener("input", function() {
  //         // This function does stuff
  //     });
  // });

  form.addEventListener('change', () => {
    hasChanges = true;
  });
  name_input.addEventListener('input', () => {
    hasChanges = true;
  });
  type_input.addEventListener('input', () => {
    hasChanges = true;
  });
  optional_input.addEventListener('input', () => {
    hasChanges = true;
  });
  array_input.addEventListener('input', () => {
    hasChanges = true;
  });
  generic_of_input.addEventListener('input', () => {
    hasChanges = true;
  });


  form.addEventListener('submit', () => {
    hasChanges = false;
  })
</script>
{% endblock %}
{% endblock %}